NEXT_PUBLIC_QFT_ADDRESS=0xYOUR_DEPLOYED_QFT_ADDRESS
NEXT_PUBLIC_QRAFT_PAYMENT_ADDRESS=0xYOUR_DEPLOYED_QRAFT_PAYMENT_ADDRESS
NEXT_PUBLIC_REQUIRED_CHAIN_ID=11155111
NEXT_PUBLIC_NETWORK_NAME=Sepolia
NEXT_PUBLIC_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io
